<head>My Dogs</head>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>BREED</th>
			<th>AGE</th>
		</tr>
	</thead>
	<tbody>
		<% @dogs.each do |dog| %>
		<tr>
			<td><%= dog.id %></td>
			<td><%= dog.name %></td>
			<td><%= dog.breed %></td>
			<td><%= dog.age %></td>
			<td><%= link_to "show dog", dog_path(dog) %></td>
			<td><%= link_to "edit dog", edit_dog_path(dog) %></td>
		</tr>
		<% end %>
	</tbody>
</table>


<%= link_to "Add A Dog", new_dog_path %>
