<h1>Meet <%= @dog.name %></h1>

<p>
	<strong>ID:</strong><%= @dog.id %>
</p>

<p>
	<strong>Breed:</strong><%= @dog.breed %>
</p>

<p>
	<strong>Age:</strong><%= @dog.age %>
</p>

<p>
	<strong>Date Added:</strong><%= @dog.created_at.stamp('07/07/1995') %>
</p>